#content
  .title
    %h1= @title
  
  .menu
    %p HAYLOFT GRILL at the Maverick, is OPEN Tuesday – Sunday @ Noon and late night on Thursday, Friday & Saturday
    %p All orders come with Maverick Beer battered fries or onion rings. Toppings include mayo, lettuce, tomato, pickles and onions.
    %p The Hayloft Grill features 100% CERTIFIED ANGUS BEEF with Solvang Bakery Buns or San Luis Sourdough Bread.
    %br/
    %br/
  - @food_item.each do |food_item|
    .entry
      = image_tag(food_item.img_url)
      %h3= food_item.name
      .desc
        = sanitize(food_item.description)
      .price_line
        %span.price= number_to_currency(food_item.price)
