#content
  .title
    %h1
    = link_to t('.layouts.application.home'), main_index_path
    = link_to t('hayloft'), hayloft_path
    = link_to t('.layouts.application.store'), store_path
    = link_to t('.layouts.application.calendar'), main_entertainment_path
    = link_to t('.layouts.application.about'), main_about_path
