<div id="content">
  <div class="title">
    <h1>
    </h1>
    <%= link_to t('.layouts.application.home'), main_index_path %>
    <%= link_to t('hayloft'), main_hayloft_path %>
    <%= link_to t('.layouts.application.store'), store_path %>
    <%= link_to t('.layouts.application.calendar'), main_entertainment_path %>
    <%= link_to t('.layouts.application.about'), main_about_path#content  .title %>
    <h1>
    </h1>
    <%= link_to t('.layouts.application.home'), main_index_path %>
    <%= link_to t('hayloft'), main_hayloft_path %>
    <%= link_to t('.layouts.application.store'), store_path %>
    <%= link_to t('.layouts.application.calendar'), main_entertainment_path %>
    <%= link_to t('.layouts.application.about'), main_about_path %>
  </div>
</div>