.main-home
  .top
    .buttons
      = link_to image_tag('entertainment_button.png'), main_entertainment_path
      %br
      = link_to image_tag('shop-apparel-button.png'), store_path
      %br
      = link_to image_tag('shop-wine-button.png'), store_path
    .rotate-img
      = link_to image_tag('kels-wines.jpg'), store_path
      
  .bottom
    .left-side
      %h1 Maverick Saloon, Santa Ynez – California
      %p 
        The Maverick Saloon, established in 1963, is one of the last original, thriving California saloons. |
        Tucked away in the heart of the Santa Ynez Valley, the Maverick gives locals and visitors a taste of |
        the Old West and makes everyone feel at home. The minute you step on the front porch you will see the |
        history in the walls constructed from old barns, hear the live music coming from the stage, and feel |
        the spirit of the people who've been welcomed through its doors by the signed dollar bills left on the |
        ceiling - proof they were once lucky enough to have been there! Next time you're in the Santa Ynez Valley |
        come by the Maverick Saloon for a beer and perhaps a line dance, and become a part of our history.
        
      .tftt
        = link_to image_tag('tftt-150x150.jpg'), 'http://www.talesfromthetavern.com/home.html', target: 'new'
      %p
        Tales From The Tavern is an incredible concert series– providing a perfect venue for artists and audiences |
        to connect in a creative and exciting way. This is one of the concert events we are proud to feature along |
        with many others. 
      %br
      %br
      %p
      %h1 Maverick Fun!
      %br
      = image_tag('funthumbs/thumbs_maverick-friends-food-fun-celebration27.jpg')
      = image_tag('funthumbs/thumbs_maverick-friends-food-fun-celebration07.jpg')
      = image_tag('funthumbs/thumbs_maverick-friends-food-fun-celebration19.jpg')
      = image_tag('funthumbs/thumbs_maverick-friends-food-fun-celebration32.jpg')
      = image_tag('funthumbs/thumbs_maverick-friends-food-fun-celebration04.jpg')
      = image_tag('funthumbs/thumbs_maverick-friends-food-fun-celebration18.jpg')
      = image_tag('funthumbs/thumbs_maverick-friends-food-fun-celebration23.jpg')
      = image_tag('funthumbs/thumbs_maverick-friends-food-fun-celebration17.jpg')
      
    .right-side
      = image_tag('host-event.png')
      %br
      %p
      %h1 Stay Connected
      %br
      .social
        = link_to image_tag('social-icon-facebook.png'), 'https://www.facebook.com/pages/Maverick-Saloon/150690148275624', target: 'new'
        = link_to image_tag('social-icon-twitter.png'), 'https://twitter.com/#!/MaverickSaloon', target: 'new'
        = link_to image_tag('social-icon-rss.png'), 'http://feeds.feedburner.com/MaverickSaloon', target: 'new'
        = link_to image_tag('social-icon-youtube.png'), root_path
      %br
      %br
      %p
        %h1 Mailing List
        .mailing-list
          Stay informed of our upcoming events and special offers!
          %br
          placeholder for mailing list box.
      %br
      %br
        %h1 Ticket Booth
        Search our event calendar and buy tickets to our upcoming events.
        %br
        placeholder for ticket sales booth.
