#content
  .title
    %h1= @title
    = link_to 'Home', main_index_path
    = link_to 'The Hayloft Grill', main_hayloft_path
    = link_to 'Country Store', main_merchandise_path
    = link_to 'Events Calendar', main_entertainment_path
    = link_to 'About Us', main_about_path
