%p#notice= notice

%p
  %b Name:
  = @order.name
%p
  %b Address 1:
  = @order.address_line_1
%p
  %b Address 2:
  = @order.address_line_2
%p
  %b City:
  = @order.city
%p
  %b State:
  = @order.state
%p
  %b Zip Code:
  = @order.zip_code
%p
  %b Email:
  = @order.email
%p
  %b Pay type:
  = @order.pay_type

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
