%p#notice= notice

%p
  - if @food_item.img_url?
    %b Image:
    = link_to image_tag(@food_item.img_url, class: 'list_image'), asset_path(@food_item.img_url), target: 'new'

%p
  %b Name:
  = @food_item.name
%p
  %b Description:
  = @food_item.description
%p
  %b Image url:
  = @food_item.img_url
%p
  %b Price:
  = number_to_currency(@food_item.price)
%p
  %b Category:
  = @food_item.category


= link_to 'Edit', edit_food_item_path(@food_item)
\|
= link_to 'Back', food_items_path
