

%h1 Listing food_item_menus

= @foods.each do |category, foods|
  %p
    = category
  %ul
    - foods.each do |foods|
      - if foods.img_url?
        .list_image
          = link_to image_tag(foods.img_url, class: 'list_image'), asset_path(foods.img_url), target: 'new'
      %li
        = foods.name
        = foods.description
        = foods.price