!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  
  %body{:class => controller.controller_name}
    #banner
      = form_tag store_path, class: 'locale' do
        = select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()'
        = submit_tag 'submit'
        = javascript_tag "$('.locale input').hide()"
      = title
    #columns
      #side
        #cart
          - if @cart
            = hidden_div_if(@cart.line_items.empty?, id: 'cart') { render @cart }
        %ul
          %li
            = link_to t('.home'), main_index_path
          %li
            = link_to t('.grill'), main_hayloft_path
          %li
            = link_to t('.store'), store_path
          %li
            = link_to t('.events'), main_entertainment_path
          %li
            = link_to t('.about'), main_about_path
            
        - if session[:user_id]
          %ul
            %li
              = link_to 'Orders',   orders_path
            %li
              = link_to 'Products', products_path
            %li
              = link_to 'Users',    users_path
          = button_to 'Logout', logout_path, method: :delete
      #main
        = yield