%html
  %head
    %title= @title
    = render 'layouts/stylesheets'
    = csrf_meta_tag
  %body{:class => controller.controller_name}
    .container
      = render 'layouts/header'
      %section.round
        = yield