%html
  %head
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    %title= @title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
  %body
    .container
      = render 'layouts/header'
      %section.round
        = yield